= render "shared/header"

.task-content
  .task-top
    .task-top__project-name
      個人アプリ開発
    .task-top__p-progress
      達成率50%(5/10)
    .task-top__p-date
      完了日まであと24日(6/4予定)
  .task-bottom
    .task-bottom__task-list
      .task-bottom__task-list--task-title
        タスク一覧
      .task-bottom__task-list--tasks
        .task-bottom__task-list--tasks--task
          ログイン機能の実装をやってみたがうまくいかないときもあるにはある
        .task-bottom__task-list--tasks--task
          フロント実装
        .task-bottom__task-list--tasks--task
          プロジェクト作成機能の追加
        .task-bottom__task-list--tasks--task
          ログイン機能の実装をやってみたがうまくいかないときもあるにはある
        .task-bottom__task-list--tasks--task
          フロント実装
        .task-bottom__task-list--tasks--task
          プロジェクト作成機能の追加
        .task-bottom__task-list--tasks--task
          ログイン機能の実装をやってみたがうまくいかないときもあるにはある
        .task-bottom__task-list--tasks--task
          フロント実装
        .task-bottom__task-list--tasks--task
          プロジェクト作成機能の追加
    .task-bottom__task-list
      .task-bottom__task-list--task-title
        作業中
      .task-bottom__task-list--tasks
        .task-bottom__task-list--tasks--task
          環境構築
        .task-bottom__task-list--tasks--task
          データベース設計
    .task-bottom__task-list
      .task-bottom__task-list--task-title
        完了済
      .task-bottom__task-list--tasks
        .task-bottom__task-list--tasks--task
          アプリのアイデア出し
        .task-bottom__task-list--tasks--task
          環境構築

    .task-bottom__task-list
      .task-bottom__task-list--task-title
        完了済
      .task-bottom__task-list--tasks
        .task-bottom__task-list--tasks--task
          アプリのアイデア出し
        .task-bottom__task-list--tasks--task
          環境構築

    .task-bottom__task-list
      .task-bottom__task-list--task-title
        完了済
      .task-bottom__task-list--tasks
        .task-bottom__task-list--tasks--task
          アプリのアイデア出し
        .task-bottom__task-list--tasks--task
          環境構築

    .task-bottom__task-list
      .task-bottom__task-list--task-title
        完了済
      .task-bottom__task-list--tasks
        .task-bottom__task-list--tasks--task
          アプリのアイデア出し
        .task-bottom__task-list--tasks--task
          環境構築

    .task-bottom__task-list
      .task-bottom__task-list--task-title
        完了済
      .task-bottom__task-list--tasks
        .task-bottom__task-list--tasks--task
          アプリのアイデア出し
        .task-bottom__task-list--tasks--task
          環境構築