.header{
  width: 100vw;
  height: 60px;
  background-color: #333366;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__title{
    display:flex;
    &--icon{
      font-size: 40px;
      padding-left: 15px;
      color: darken(#9acd32,10%);
    }
    &--title{
      font-size: 40px;
      font-family: 'Anton', sans-serif;
      padding-left: 5px;
    }
  }
  &__user{
    display:flex;
    .user-project{
      text-decoration: none;
      display: inline-block;
      padding: 0.3em 1em;
      text-decoration: none;
      color: #ffffff;
      background:#516ab6;
      border: solid 2px#516ab6;
      border-radius: 3px;
      margin-right: 15px;
    }
    .user-project:hover{
      background: lighten(#516ab6,10%);
      border: solid 2px lighten(#516ab6,10%);
    }
    .user-name{
      text-decoration: none;
      display: inline-block;
      padding: 0.3em 1em;
      text-decoration: none;
      color: #ffffff;
      background: darken(#9acd32,10%);
      border: solid 2px darken(#9acd32,10%);
      border-radius: 3px;
      margin-right: 15px;
    }
    .user-name:hover{
      background: #9acd32;
      border: solid 2px #9acd32;
    }
    .user-btn{
      text-decoration: none;
      display: inline-block;
      padding: 0.3em 1em;
      text-decoration: none;
      color: #67c5ff;
      border: solid 2px #67c5ff;
      border-radius: 3px;
      transition: .4s;
      margin-right: 15px;
    }
    .user-btn:hover{
      background: #67c5ff;
      color: white;
    }
  }
}

.title-link{
  color: #fff;
  text-decoration: none;
}