.task-content{
  .task-top{
    display: flex;
    justify-content: space-between;
    &__left{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
      &__project-name{
        min-height: 40px;
        margin-top: 10px;  
        margin-left: 15px;
        line-height: 40px;
        padding: 0 10px;
        color: #232323;
        background: #f4f4f4;
        border-left: solid 10px #7db4e6;
        .project-name-finish{
          font-weight: 600;
          color:red;
        }
      }
      &__p-progress{
        height: 40px;
        margin-top: 10px;  
        margin-left: 15px;
        line-height: 40px;
        padding: 0 10px;
        color: #232323;
        background: #fffaf4;
        border-left: solid 10px #ffaf58;
      }
      &__p-date{
        height: 40px;
        margin-top: 10px;  
        margin-left: 15px;
        line-height: 40px;
        padding: 0 10px;
        color: #232323;
        background: #fffaf4;
        border-left: solid 10px #ff7f50;
        .normal{
          font-weight: 600;
        }
        .warning{
          font-weight: 600;
          color: red;
        }
      }
    }
    &__right{
      margin-top: 10px; 
      display: flex;
      font-size: 18px;
      a{
        text-decoration: none;
      }
      &__edit{
        height: 40px;
        margin-left: 15px;
        line-height: 40px;
        padding: 0 20px;
        color: #fff;
        background: #808080;
        border-radius: 5px;      
      }
      &__edit:hover{
        background: lighten(#808080,10%);
      }
      &__finish{
        height: 40px;
        margin:0 5px;
        line-height: 40px;
        padding: 0 20px;
        color: #fff;
        background: #dc143c;
        border-radius: 5px;
      }
      &__finish:hover{
        background: lighten(#dc143c,10%);
      }
    }
  }
  .task-bottom{
    width: 100vw;
    margin-top: 10px;
    overflow-x: scroll;
    padding-bottom: 20px;
    display: flex;
    &__task-list{
      max-height: 550px;
      width: 260px;
      background-color: #eaf3ff;
      margin-left: 15px;
      padding-bottom: 5px;
      &--task-title{
      width: 240px;
      background-color: #516ab6;
      color: white;
      padding: 5px 10px 5px 10px;
      }
      &--tasks{
        // overflow-y: scroll;
        &--task{
        width: 200px;
        font-size: 16px;
        padding: 5px 10px 5px 10px;
        margin: 10px 10px 10px 10px;
        color: #232323;
        background: #e4fcff;
        border-left: solid 10px #1dc1d6;
        }
      }
    }
  }
}

.sortable-tasklist-parent{
  display: flex;
  .sortable-tasklist-child{
  }
}

.sortable-task-parent{
  min-height: 20px;
  .sortable-task-child{
  }
}

.sortable-placeholder{
  background: darken(#f5f5f5,10%);
  padding: 5px 10px 5px 20px;
  margin: 10px 10px 10px 10px;
  width: 200px;
}

.sortable-tasklist-placeholder{
  background: darken(#f5f5f5,10%);
  margin: 0 10px;
  width: 260px;
}


.task-bottom__new-list{
  height: 24px;
  background: #516ab6;
  color: white;
  padding: 5px 20px;
  margin-left: 15px;
  border-radius: 20px;
  text-align: center;
  white-space: nowrap;
}
.task-bottom__new-list:hover{
  background: lighten(#516ab6,10%);
}

.new-task{
  width: 220px;
  font-size: 16px;
  padding: 5px 0;
  margin: 0 auto;
  color: #232323;
  text-align: center;
  border-radius: 20px;
  font-size: 14px;
}
.new-task:hover{
  background: lighten(#516ab6,40%);
}

.finish-title{
  background: gray!important;
}

.modal{
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.modal__bg{
  background: rgba(0,0,0,0.4);
  height: 100vh;
  position: absolute;
  width: 100%;
}
.modal__content{
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
}