.task-content{
  .task-top{
    display: flex;
    justify-content: space-between;
    &__left{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
      &__project-name{
        min-height: 40px;
        margin-top: 10px;  
        margin-left: 15px;
        line-height: 40px;
        padding: 0 10px;
        color: #232323;
        background: #f4f4f4;
        border-left: solid 10px #7db4e6;
        .project-name-finish{
          font-weight: 600;
          color:red;
        }
      }
      &__p-progress{
        height: 40px;
        margin-top: 10px;  
        margin-left: 15px;
        line-height: 40px;
        padding: 0 10px;
        color: #232323;
        background: #fffaf4;
        border-left: solid 10px #ffaf58;
      }
      &__p-date{
        height: 40px;
        margin-top: 10px;  
        margin-left: 15px;
        line-height: 40px;
        padding: 0 10px;
        color: #232323;
        background: #fffaf4;
        border-left: solid 10px #ff7f50;
        .normal{
          font-weight: 600;
        }
        .warning{
          font-weight: 600;
          color: red;
        }
      }
    }
    &__right{
      margin-top: 10px; 
      display: flex;
      font-size: 18px;
      a{
        text-decoration: none;
      }
      &__edit{
        height: 40px;
        margin-left: 15px;
        line-height: 40px;
        padding: 0 20px;
        color: #fff;
        background: #808080;
        border-radius: 5px;      
      }
      &__edit:hover{
        background: lighten(#808080,10%);
      }
      &__finish-task{
        height: 40px;
        margin-left: 5px;
        line-height: 40px;
        padding: 0 20px;
        color: #fff;
        background: #20b2aa;
        border-radius: 5px;
        position: relative;
        .drop-finish-tasklist{
          display: none;
          width: 300px;
          max-height: 550px;
          overflow-y: scroll;
          position: absolute;
          color: black;
          background: #f5f5f5;
          top: 100%;
          left: 0;
          padding-bottom: 5px;
        }
        .drop-finish-tasks{
          width: 275px;
          padding-left: 5px;
          margin:5px 0 0 10px;
          background: darken(#f5f5f5,5%);
        }
        .drop-finish-tasks:hover{
          background: darken(#f5f5f5,10%);
        }
        .drop-finish-task-bottom{
          display: flex;
          font-size: 12px;
          height: 20px;
          line-height: 20px;
          .drop-finish-task-reverse{
            .task-reverse{
              color: #516ab6;
            }
          }
          .drop-finish-task-delete{
            margin-left: 10px;
            .task-delete{
              color: red;
            }
          }
        }
      }
      &__finish-task:hover{
        background: lighten(#20b2aa,10%);
        .drop-finish-tasklist{
          display: block;
        }
      }
      &__finish{
        height: 40px;
        margin:0 5px;
        line-height: 40px;
        padding: 0 20px;
        color: #fff;
        background: #dc143c;
        border-radius: 5px;
      }
      &__finish:hover{
        background: lighten(#dc143c,10%);
      }
    }
  }
  .task-bottom{
    width: 100vw;
    height: calc(100vh - 160px);
    margin-top: 10px;
    overflow-x: scroll;
    padding-bottom: 20px;
    display: flex;
    &__task-list{
      max-height: 550px;
      width: 260px;
      margin-left: 15px;
      .tasklist-title-box{
        display: flex;
        .task-bottom__task-list--task-title{
        width: 240px;
        background: #516ab6;
        color: white;
        padding: 5px 10px 5px 10px;
          &:hover{
            cursor: pointer;
          }
        }
        .task-finish-icon{
          background: #516ab6;
          color: white;
          font-size: 20px;
          padding-right: 7px;
          &:hover{
            cursor: pointer;
          }
        }
        .task-finish-icon-link{
          color: white;
          &:hover{
            color: #00bfff;
          }
        }
      }
      &--tasks{
        overflow-y: scroll;
        background: #eaf3ff;
        max-height: 470px;
        &--task{
        width: 200px;
        font-size: 16px;
        padding: 5px 10px 5px 10px;
        margin: 10px 10px 10px 10px;
        color: #232323;
        background: #e4fcff;
          &:hover{
            cursor: pointer;
          }
        }
      }
    }
  }
}

.sortable-tasklist-parent{
  display: flex;
  .sortable-tasklist-child{
  }
}

.sortable-task-parent{
  min-height: 20px;
  .sortable-task-child{
  }
}

.sortable-placeholder{
  background: darken(#f5f5f5,10%);
  padding: 5px 10px 5px 20px;
  margin: 10px 10px 10px 10px;
  width: 200px;
}

.sortable-tasklist-placeholder{
  background: darken(#f5f5f5,10%);
  margin: 0 10px;
  width: 260px;
}


.task-bottom__new-list{
  height: 24px;
  background: #1e90ff;
  color: white;
  padding: 5px 20px;
  margin-left: 15px;
  border-radius: 20px;
  text-align: center;
  white-space: nowrap;
}
.task-bottom__new-list:hover{
  background: lighten(#1e90ff,10%);
  cursor: pointer;
}

.new-task-frame{
  width: 260px;
  height: 40px;
  background-color: #eaf3ff;
  padding-top:5px;
  .new-task{
    width: 220px;
    font-size: 16px;
    padding: 5px 0;
    margin: 0 auto;
    color: #232323;
    text-align: center;
    border-radius: 20px;
    font-size: 14px;
  }
  .new-task:hover{
    background: lighten(#516ab6,40%);
    cursor: pointer;
  }
}
.finish-title{
  background: darken(gray,20%)!important;
}

.modal{
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.modal__bg{
  background: rgba(0,0,0,0.7);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content{
  background: #f5f5f5;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
  height: 30%;
  .js-modal-close{
    position:absolute;
    top: 0;
    padding-right: 15px;
    right: 0;
    color: gray;
    font-size: 30px;
    &:hover{
      cursor: pointer;
      color: darken(gray,20%);
    }
  }
  .js-modal-close-tasklist{
    position:absolute;
    top: 0;
    padding-right: 15px;
    right: 0;
    color: gray;
    font-size: 30px;
    &:hover{
      cursor: pointer;
      color: darken(gray,20%);
    }
  }
  
  .new-task__form__name{
    width: 500px;
    margin: 0 auto;
    .form-name{
      width: 500px;
      height: 50px;
      margin: 40px auto 0;
      outline: 0;
      padding-left: 10px;
      font-size: 16px;
    }
    .form-name:focus{
      border: solid 1px #00bfff;
    }
  }
  .new-task__form__btn-form{
    width: 300px;
    margin: 0 auto;
    .form-btn{
      width: 300px;
      height: 50px;
      margin: 30px auto 10px;
      font-size: 20px;
      outline: 0;
      background: darken(#9acd32,10%);;
      color: white;
    }
    .form-btn:hover{
      background:#9acd32;
    }
    .form-btn:active{
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
  }
}

.modal__content-edit{
  background: #f5f5f5;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
  height: 95%;
  .js-modal-close{
    position:absolute;
    top: 0;
    padding-right: 15px;
    right: 0;
    color: gray;
    font-size: 30px;
    &:hover{
      cursor: pointer;
      color: darken(gray,20%);
    }
  }
  .js-modal-close-tasklist{
    position:absolute;
    top: 0;
    padding-right: 15px;
    right: 0;
    color: gray;
    font-size: 30px;
    &:hover{
      cursor: pointer;
      color: darken(gray,20%);
    }
  }
  .new-task__form__name{
    width: 500px;
    margin: 0 auto;
    .form-name{
      width: 500px;
      height: 30px;
      margin: 40px auto 0;
      outline: 0;
      padding-left: 10px;
      font-size: 16px;
    }
    .form-name:focus{
      border: solid 1px #00bfff;
    }
  }
  .form-btn-finish-task-link{
    text-decoration: none;
  }
  .task-finish{
    width: 240px;
    height: 50px;
    font-size: 20px;
    outline: 0;
    background: #20b2aa;
    color: white;
    text-align: center;
    line-height: 50px;
    margin-right: 20px;
  }
  .task-finish:hover{
    background: lighten(#20b2aa, 10%);
  }
  .taskedit-btns{
    display: flex;
    width: 500px;
    margin: 10px auto 0;
  }
  .new-task__form__btn-form-taskedit{
    width: 500px;
    margin: 10px auto 0;
    .form-btn-taskedit{
      width: 500px;
      height: 50px;
      font-size: 20px;
      outline: 0;
      background: #1dc1d6;
      color: white;
    }
    .form-btn-taskedit:hover{
      background: lighten(#1dc1d6,10%);
    }
    .form-btn-taskedit:active{
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
  }
  .new-task__form__detail{
    width: 500px;
    margin: 15px auto 0;
    .taskform-detail-text{
      font-size: 16px;
    }
    .form-detail{
      width: 500px;
      height: 250px;
      margin: 5px auto 0;
      outline: 0;
      padding-left: 10px;
      font-size: 16px;
    }
    .form-detail:focus{
      border: solid 1px #00bfff;
    }
  }
  .new-task__form__finish-date{
    width: 500px;
    margin: 10px auto 0;
    .taskform-finish-text{
      font-size: 16px;
    }
    .form-date{
      width: 500px;
      height: 30px;
      margin: 5px auto 0;
      outline: 0;
      padding-left: 10px;
      font-size: 16px;
    }
    .form-date:focus{
      border: solid 1px #00bfff;
    }
  }
  .new-task__form__color{
    width: 500px;
    margin: 10px auto 0;
    .taskform-color-text{
      font-size: 16px;
    }
    .form-color{
      width: 80px;
      height: 30px;
      margin-top: 5px;
    }
  }
}

.modal__content-tasklist-edit{
  background: #f5f5f5;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
  height: 30%;
  .js-modal-close{
    position:absolute;
    top: 0;
    padding-right: 15px;
    right: 0;
    color: gray;
    font-size: 30px;
    &:hover{
      cursor: pointer;
      color: darken(gray,20%);
    }
  }
  .js-modal-close-tasklist{
    position:absolute;
    top: 0;
    padding-right: 15px;
    right: 0;
    color: gray;
    font-size: 30px;
    &:hover{
      cursor: pointer;
      color: darken(gray,20%);
    }
  }
  
  .new-task__form__name{
    width: 500px;
    margin: 0 auto;
    .form-name{
      width: 500px;
      height: 50px;
      margin: 40px auto 0;
      outline: 0;
      padding-left: 10px;
      font-size: 16px;
    }
    .form-name:focus{
      border: solid 1px #00bfff;
    }
  }
  .new-task__form__btn-form{
    width: 300px;
    margin-right: 20px;
    .form-btn-tasklistedit{
      width: 300px;
      height: 50px;
      font-size: 20px;
      outline: 0;
      background: #516ab6;
      color: white;
    }
    .form-btn-tasklistedit:hover{
      background: lighten(#516ab6,10%);
    }
    .form-btn-tasklistedit:active{
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
  }
}
.tasklistedit-btns{
  display: flex;
  width: 640px;
  margin: 40px auto 0;
}

.form-btn-tasklist{
  width: 300px;
  height: 50px;
  margin: 30px auto 10px;
  font-size: 20px;
  outline: 0;
  background: #1e90ff;
  color: white;
}
.form-btn-tasklist:hover{
  background: lighten(#1e90ff,20%);
}
.form-btn-tasklist:active{
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}

.js-modal-close-edittask{
  position:absolute;
  top: 0;
  padding-right: 15px;
  right: 0;
  color: gray;
  font-size: 30px;
  &:hover{
    cursor: pointer;
    color: darken(gray,20%);
  }
}

.js-modal-close-edittasklist{
  position:absolute;
  top: 0;
  padding-right: 15px;
  right: 0;
  color: gray;
  font-size: 30px;
  &:hover{
    cursor: pointer;
    color: darken(gray,20%);
  }
}

.form-btn-destroy-tasklist{
  width: 300px;
  height: 50px;
  font-size: 20px;
  outline: 0;
  background: red;
  color: white;
  text-align: center;
  line-height: 50px;
}
.form-btn-destroy-tasklist:hover{
  background: lighten(red,20%);
}
.form-btn-destroy-tasklist-link{
  text-decoration: none;
}

.form-btn-destroy-task{
  width: 240px;
  height: 50px;
  font-size: 20px;
  outline: 0;
  background: red;
  color: white;
  text-align: center;
  line-height: 50px;
}
.form-btn-destroy-task:hover{
  background: lighten(red,20%);
}
.form-btn-destroy-task-link{
  text-decoration: none;
}

#ui-datepicker {
  z-index: 9999 !important;
}

.task-finish-date{
  font-size:12px;
  text-align:right;
}
