.task-content{
  .task-top{
    width: 100vw;
    height: 40px;
    margin-top: 10px;  
    display: flex;
    font-size: 20px;
    &__project-name{
      height: 40px;
      background-color: gray;
      margin-left: 15px;
      line-height: 40px;
      padding: 0 10px 0 10px;
      color: #232323;
      background: #f4f4f4;
      border-left: solid 10px #7db4e6;
    }
    &__p-progress{
      height: 40px;
      margin-left: 15px;
      line-height: 40px;
      padding: 0 10px 0 10px;
      color: #232323;
      background: #fffaf4;
      border-left: solid 10px #ffaf58;
    }
    &__p-date{
      height: 40px;
      margin-left: 15px;
      line-height: 40px;
      padding: 0 10px 0 10px;
      color: #232323;
      background: #fffaf4;
      border-left: solid 10px #ff7f50;
      .normal{
        font-weight: 600;
      }
      .warning{
        font-weight: 600;
        color: red;
      }
    }
  }
  .task-bottom{
    width: 100vw;
    margin-top: 10px;
    display: flex;
    overflow-x: scroll;
    padding-bottom: 20px;
    // background: red;
    &__task-list{
      max-height: 550px;
      width: 270px;
      height: 100%;
      background-color: #eaf3ff;
      margin-left: 15px;
      &--task-title{
      width: 240px;
      background-color: #516ab6;
      color: white;
      padding: 5px 10px 5px 10px;
      }
      &--tasks{
        // overflow-y: scroll;
        &--task{
        width: 200px;
        font-size: 16px;
        padding: 5px 10px 5px 10px;
        margin: 10px 10px 10px 10px;
        color: #232323;
        background: #e4fcff;
        border-left: solid 10px #1dc1d6;
        }
      }
    }
  }
}

.sortable-parent{
  min-height: 20px;
  .sortable-child{
  }
}

.sortable-placeholder{
  background: darken(#f5f5f5,10%);
  padding: 5px 10px 5px 20px;
  margin: 10px 10px 10px 10px;
  width: 200px;
}