!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %link{:href => "https://fonts.googleapis.com/css2?family=Anton&display=swap", :rel => "stylesheet"}/
    %title PlanDo
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css", :rel => "stylesheet"}/
    %script{:src => "https://code.jquery.com/jquery-3.4.1.min.js"}
    %script{:src => "https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"}
    %script{:src => "https://rawgit.com/jquery/jquery-ui/master/ui/i18n/datepicker-ja.js"}


  %body
    = yield
